@charset "utf-8";

div {
  text-align: center;
}
h1 {
  color: #555;
  font-size: 30px;
}
p {
  margin: 0 auto 20px;
  width: 200px;
  font-size: 20px;
  background: rgb(57, 161, 57);
  color: #fff;
  border-radius: 8px;
  padding: 4px;
}
span {
  font-size: 28px;
  font-weight: bold;
  margin: 0 8px;
}
canvas {    
  border: 3mm ridge rgba(213, 228, 51, 0.6);
  background: rgba(169, 230, 253, 0.5);
}